/* File: index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fb; /* Light background for the whole page */
}

/* Custom Calendar Grid for Month View */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 140px; /* Increased height for content space */
  border-left: 1px solid #dadce0;
  
}

.calendar-cell {
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  padding: 5px;
  position: relative;
  transition: background-color 0.15s ease-in-out;
  overflow: hidden; 
}
